/*PRINCIPAL*/
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
}
.titulo-principal {
    text-align: center;
    font-family: DejaVu Sans Mono, monospace;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
    color: rgb(231, 26, 26);
    text-shadow: 2px 1px 3px rgb(243, 76, 76);
}

.subtitulo-principal {
    text-align: center;
    font-family: DejaVu Sans Mono, monospace;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;

}

/*MENU*/

.contribue {
    text-align: right;
    justify-content: center;
    display: flex;
    list-style-type: none;
    padding: 2px 5px 0px;
}

.contribue li a {
    text-decoration: none;
    color: rgb(177, 0, 0);
}

.contribue li a:hover {
    color: rgb(0, 0, 0);
}

.div-menu {
    text-align: right;
    justify-content: center;
    display: flex;
    list-style-type: none;
    padding: 2px 5px 0px;
}

.div-menu li a {
    text-decoration: none;
    color: rgb(177, 0, 0);
}

.div-menu li a:hover {
    color: rgb(0, 0, 0);
}

#menu li{
    display: inline;
    list-style-type: none;
}

#menu li a:hover {
    color: rgb(177, 0, 0);
}

/*TEXTOS*/
.materia-1{
    padding: 20px;
    border: 1px solid black;
    background-color: rgb(255, 245, 245);
}

.texto-1{
    margin-right: 30px;

}

.center {
    text-align: center;
}

.container-1 {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

/*ABA SUGESTÃO*/
.container-2 {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(255, 245, 245);
}

.ml-50 {
    margin-left: 50px;
}
